button {
  cursor: pointer;
  font: inherit;
  border: 1px solid transparent;
  padding: var(--spacing-2) var(--spacing-4);
  font-weight: 600;
  border-radius: var(--radii-3);
  min-width: 120px;
}

button:disabled {
  opacity: 0.7;
  cursor: default;
}

button.primary {
  background: var(--color-primary);
  color: var(--color-white);
}

button.secondary {
  background: var(--color-white);
  border-color: var(--color-border);
  color: var(--color-text);
}
