.date-range {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--radii-2);
  border: 1px solid var(--color-border);
  overflow: hidden;
}

.date-range input {
  width: 100%;
  border: none;
  border-radius: 0;
}

.date-range div:last-child input {
  border-left: 1px solid var(--color-border);
}
