:root {
  --color-primary: #21cc83;
  --color-border: #e5e6e8;
  --color-text: #3f4154;
  --color-text-secondary: #6c7381;
  --color-white: #fff;
  --color-background: #f3f4f6;
  --color-background-light: #f9fafb;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 24px;
  --spacing-6: 32px;
  --radii-1: 2px;
  --radii-2: 4px;
  --radii-3: 6px;
  --radii-4: 8px;
  --text-1: 0.75rem;
  --text-2: 0.875rem;
  --text-3: 1rem;
  --text-4: 1.25rem;
  --text-5: 1.325rem;
  --shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: var(--text-2);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: var(--spacing-4);
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 16px;
  border: var(--spacing-1) solid var(--color-white);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-secondary);
}

body,
html {
  height: 100%;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  padding-top: 80px;
  max-height: 100vh;
  width: 100%;
  isolation: isolate;
}
