input {
  font: inherit;
  border-radius: var(--radii-3);
  border: 1px solid var(--color-border);
  padding-inline: var(--spacing-4);
  background-color: var(--color-background-light);
  height: 32px;
  width: 180px;
}

label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
