.select-container {
  position: relative;
}

.select-icon {
  position: absolute;
  right: var(--spacing-2);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

select {
  border-radius: var(--radii-3);
  border: 1px solid var(--color-border);
  padding: var(--spacing-2) var(--spacing-5) var(--spacing-2) var(--spacing-4);
  appearance: none;
  min-width: 180px;
  background-color: var(--color-background-light);
  font: inherit;
}
