.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: var(--spacing-4);
}

.stats-item {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  background-color: var(--color-white);
  border-radius: var(--radii-2);
  padding: var(--spacing-5);
  box-shadow: var(--shadow);
}

.stats-item dt {
  font-weight: 600;
  color: var(--color-text-secondary);
  font-size: var(--text-1);
}

.stats-item dd {
  font-weight: 600;
  font-size: var(--text-3);
}
