.table {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: var(--radii-2);
  background: var(--color-white);
  box-shadow: var(--shadow);
  display: grid;
  grid-template-rows: 1fr auto;
}

.table-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}

table {
  position: relative;
  width: 100%;
}

thead {
  position: sticky;
  inset-block-start: 0px;
  z-index: 1;
  border-bottom: 1px solid var(--color-border);
}

td,
th {
  padding: var(--spacing-2);
  white-space: nowrap;
  text-align: left;
}

tr:not(:last-child) td {
  border-bottom: 1px solid var(--color-border);
}

th {
  background-color: var(--color-background-light);
  color: var(--color-text-secondary);
  text-transform: uppercase;
  font-size: var(--text-1);
  font-weight: 500;
  padding: var(--spacing-3) var(--spacing-2);
  border-bottom: 1px solid var(--color-border);
}

.pagination {
  border-top: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: var(--spacing-3);
  gap: var(--spacing-2);
}
