.topbar {
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  padding: var(--spacing-5) var(--spacing-4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
