.trip-stats {
  padding: var(--spacing-5);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.trip-list {
  padding: var(--spacing-5);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  overflow: auto;
}

.trip-filters {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-4);
}
